/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/57076306_843549045983143_1006181030656212992_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=9zpOOSB8YIQAX8XbvT7&_nc_ht=scontent-hkg4-1.xx&oh=2eb9dde00decb22591f0703503f59cb3&oe=60C82104') no-repeat center top;
  background-size: contain;
}
